@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d0ffb3;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #d0ffb3;
}

::-webkit-scrollbar-thumb {
  background: rgb(103, 208, 103);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(94, 152, 66);
}
